
<h3>
<a href="http://localhost/PackageTracking.Web/clients">Clients</a><br>
<a href="http://localhost/PackageTracking.Web/users">Users</a><br>
<a href="http://localhost/PackageTracking.Web/warehouses">Warehouses</a>
</h3>