
@{
    ViewBag.Title = "Список отгрузок";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Страница находится в стадии разработки.</h3>


@*@using (Html.BeginForm("Upload", "Income", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <input type="file" name="upload" /><br>
    <input type="submit" value="Загрузить" />
}*@




